@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rounded_button {
    @apply rounded-xl border border-blue-400 bg-blue-300 text-blue-900 shadow-sm hover:bg-blue-400 transition-colors ease-linear duration-200 p-2;
  }
}

header{
  max-width: 100% !important;
}

.article_card:hover {
  background-color: #e9edf0 !important;
  transform: scale(1.04);
}

.dropdown-menu-scroll {
  max-height: 20rem;
  overflow-y: auto;
}

.dropdown-menu-scroll::-webkit-scrollbar {
  display: none;
}

.icon_button {
  font-size: 3rem !important;
}

.icon_button:hover {
  transform: scale(1.2);
}

.icon_xl {
  font-size: 5rem !important;
}